<div class="container mt-4">
  <div class="card product-details-card">
    <div class="card-header text-center">
      <h2>{{product.prodName}}</h2>
    </div>
    <div class="card-body">
      <img [src]="getImageUrl(product.image)" [alt]="product.prodName" class="card-img-top">
      <p class="card-text"><strong>Description:</strong> {{ product.description }}</p>
      <p class="card-text"><strong>Price:</strong> ₹{{ product.price }}</p>
      <p class="card-text" ><strong>Availability:</strong> {{ product.availaibility }}</p>
      <p class="card-text" *ngIf="role === 'seller'"><strong>Stock Quantity:</strong> {{ product.stock_Quantity }}</p>
      <p class="card-text" *ngIf="role === 'seller'"><strong>Category:</strong> {{ product.categoryId }}</p>
      <div *ngIf="role === 'customer'">
        <button class="btn btn-primary ms-2" (click)="buy(product.prodId)">
          Buy
        </button>
      </div>
      
    </div>
  </div>
</div>