<div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card dashboard-card">
          <div class="card-body">
            <i class="bi bi-plus-circle dashboard-icon"></i>
            <h5 class="card-title mb-3">Add New Product</h5>
            <p class="card-text mb-4">List your latest fashion items and reach more customers</p>
            <a routerLink="../productadd" class="btn btn-primary">Add Product</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card dashboard-card">
          <div class="card-body">
            <i class="bi bi-list-ul dashboard-icon"></i>
            <h5 class="card-title mb-3">My Products</h5>
            <p class="card-text mb-4">Manage your product listings and inventory</p>
            <a routerLink="../myproducts" class="btn btn-primary">View Products</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card dashboard-card">
          <div class="card-body">
            <i class="bi bi-grid dashboard-icon"></i>
            <h5 class="card-title mb-3">Orders</h5>
            <p class="card-text mb-4">See orders requests for your products</p>
            <a routerLink="../orderDetails" class="btn btn-primary">View Orders</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  