<div class="container mt-5">
  <h3>Your Cart</h3>
  <div *ngIf="cartItems && cartItems.length > 0; else emptyCart">
    <ul class="list-group">
      <li class="mb-5 list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of cartItems">
        <div>
          <h5 class="mb-1">{{ getProductDetails(item.prodId)?.prodName }}</h5>
          <p class="mb-1">Quantity:
            <button type="button" class="btn btn-sm btn-secondary" (click)="decreaseQuantity(item)">-</button>
            {{ item.quantity }}
            <button type="button" class="btn btn-sm btn-secondary" (click)="increaseQuantity(item)">+</button>
          </p>
          <p class="mb-1">Amount: ₹{{ item.cart_Amount }}</p>
          <p class="mb-1">Description: {{ getProductDetails(item.prodId)?.description }}</p>
        </div>
        <div>
          <button type="button" class="btn btn-danger btn-sm" (click)="removeFromCart(item.cartId)">Remove</button>
          <button type="button" class="btn btn-primary btn-sm" (click)="buy(item.prodId)">Buy</button>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #emptyCart>
    <p>Your cart is empty.</p>
  </ng-template>
</div>